html {
  font-size: 62.5%;
}
/* MOBILE */
.hidden-text {
  display: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/images/grunge.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#special {
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  background-color: rgb(74, 99, 99);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding-block-end: 2rem;
  background-image: url("/images/special-bg.png");
  background-repeat: repeat-x;
  background-position: center bottom;
}

.item2 {
  color: rgb(162, 162, 162);
}
header {
  border-bottom-color: rgb(198, 191, 176);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 2rem;
}

/*Hide NavDetails in MOBILE*/
#navDetails {
  display: none;
}

/*Koko sivun WRAPPER FLEX*/
#wrapper {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
#wrapper > * {
  margin-top: 1rem;
  margin-bottom: 2rem;
  /*ÄLÄ KOSKE YLLÄOLEVIIN ! KOKO SIVUN SÄÄTÖ!*/
}

/*NAV 1 COLUMN MOBILEEN*/
#nav1 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#nav1 ul > * {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

/*LOGON SÄÄDÖT*/
#nav1 ul .companyLogo {
  flex-basis: 100%;
  margin-bottom: 1.3rem;
  opacity: 0.9;
  text-align: center;
}

#pretzels {
  max-width: 100%;
  margin-bottom: 1rem;
}
#main {
  max-width: 100%;
  padding-top: 1rem;
}

#p1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#p2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#p3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#p4 {
  font-size: 1rem;
}

#sidebar ul {
  column-count: 2;
  margin-bottom: 3rem;
}

#sidebar {
  display: block;
  margin-top: 2rem;
  font-size: 1.3rem;
}
.callout {
  margin-top: 2rem;
  background-color: bisque;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  margin-bottom: 2rem;
}
#pcall {
  margin: 1rem;
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
}

h3 {
  margin-bottom: 0.5rem;
  text-align: left;
}

#pretz {
  text-align: center;
}

.callout {
  margin-top: 2rem;
  background-color: bisque;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}
#logoDown {
  opacity: 0.4;
  text-align: center;
}

#footerText {
  margin-top: 3rem;
  text-align: center;
  color: lightgrey;
  font-size: 0.8rem;
  margin-block-end: 1rem;
}

/* TABLET */

@media only screen and (min-width: 426px) {
  #nav1 ul .companyLogo {
    flex-basis: 0;
    margin-bottom: 0rem;
    opacity: 0.9;
  }
  #nav1 ul > * {
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
  }
  #p1,
  #p2,
  #p3,
  #p4 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  #main {
    max-width: 100%;
  }
  h3 {
    margin: 1rem;
    font-weight: 700;
  }
}

/*TIETOKONE TÄSTÄ ETEENPÄIN*/
@media only screen and (min-width: 769px) {
  .parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .parent > * {
    flex-basis: 0;
    flex-grow: 1;
  }
  .parent {
    margin: 1.5rem;
    text-align: left;
  }

  #sidebar {
    margin: 1.5rem;
  }
  /*NavDetails esiin*/
  .hidden-text {
    display: block;
    vertical-align: baseline;
  }

  #nav1 ul > * {
    flex-basis: 0;
    flex-grow: 1;
    text-align: left;
  }
}
