html {
  font-size: 62.5%;
}
/* MOBILE */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/images/grunge.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#special {
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  background-color: rgb(74, 99, 99);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding-block-end: 2rem;
  background-image: url("/images/special-bg.png");
  background-repeat: repeat-x;
  background-position: center bottom;
}

.item2 {
  color: rgb(162, 162, 162);
}

/*Hide NavDetails in MOBILE*/
#navDetails {
  display: none;
}

/*Koko sivun WRAPPER FLEX*/
#wrapper {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
#wrapper > * {
  margin-top: 1rem;
  margin-bottom: 2rem;
  /*ÄLÄ KOSKE YLLÄOLEVIIN ! KOKO SIVUN SÄÄTÖ!*/
}

/*NAV 1 COLUMN MOBILEEN*/
#nav1 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#nav1 ul > * {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

/*LOGON SÄÄDÖT*/
#nav1 ul .companyLogo {
  flex-basis: 100%;
  margin-bottom: 1.3rem;
  opacity: 0.9;
}

#pretzels {
  max-width: 100%;
  margin-bottom: 1rem;
}
#main {
  max-width: 100%;
  border-top-color: rgb(198, 191, 176);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1rem;
}

#p1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#p2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#p3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#p4 {
  font-size: 1rem;
}

#sidebar {
  display: none;
}
#logoDown {
  opacity: 0.4;
  text-align: center;
}

#footerText {
  text-align: center;
  color: lightgrey;
  font-size: 0.8rem;
  margin-block-end: 1rem;
}

/* TABLET */

@media only screen and (min-width: 426px) {
  #nav1 ul .companyLogo {
    flex-basis: 0;
    margin-bottom: 0rem;
    opacity: 0.9;
  }
  #nav1 ul > * {
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
  }
  #p1,
  #p2,
  #p3,
  #p4 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  #main {
    max-width: 100%;
    border-top-color: rgb(198, 191, 176);
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 1rem;
  }
  h3 {
    margin: 1rem;
    font-weight: 700;
  }

  #sidebar {
    display: block;
    background-color: rgb(175, 181, 166);
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  #sidebar > * {
    flex-basis: 1;
    flex-grow: 1;
    text-align: center;
  }
  .callout {
    background-color: bisque;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
  }
}
/*
flex-direction: row;
flex-wrap: wrap;
*/
